.App{
  padding: 20px;
}

.add-tag{
  cursor: pointer;
  color: #D3D3D3;
}

.tag{
  color: white;
  width: 40px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag:hover{
  width: 55px;
}

.tag span{
  cursor: pointer;
}

.edit, .check{
  width: 20px;
  color: #D3D3D3;
  cursor: pointer;
}

.edit:hover{
  color: #1E90FF;
  width: 20px;
  cursor: pointer;
}

.check:hover{
  color: #1E90FF;
  width: 20px;
  cursor: pointer;
}